#cart {
  padding: 100px 0px;
}

.breadcrumb-item a {
  color: #1ac073 !important;
  font-family: "ABeeZee";
  font-size: 18px;
  text-decoration: none;
}

.input-group-voucher {
  width: 50%;
}

.input-group-voucher input {
  height: 45px;
  background: var(--White, #fff);
  padding-left: 20px;
}

.input-group-voucher button {
  width: 100px;
  background: #1ac073;
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 18px;
  outline: none;
  border: none;
}

.input-group-voucher button:hover {
  color: var(--White, #fff);
}

.summary .row {
  padding: 10px 0px;
  color: #262626;
  font-family: "Poppins";
  font-size: 18px;
}

.summary .row.total {
  color: #22262a;
  font-family: "Lexend Deca";
  font-size: 30px;
  font-weight: 500;
}

#btn-check-out,
#btn-complete {
  height: 50px;
  border-radius: 10px;
  background: #1ac073;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  border: none;
  font-weight: 800;
}

#btn-check-out:focus,
#btn-complete:focus {
  outline: none;
}

#table-pizza-cart thead td {
  color: #22262a;
  font-family: "Lexend Deca";
  font-size: 20px;
  font-weight: 500;
}

.td-pizza-name {
  color: #262626;
  font-family: "Lexend Deca";
  font-size: 18px;
}

.td-pizza-desc {
  color: #929292;
  font-family: "Lexend Deca";
  font-size: 12px;
  font-weight: 300;
}

.td-pizza-price {
  color: #262626;
  font-family: "Poppins";
  font-size: 18px;
}

.td-qty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-btn-qty {
  background-color: #f6f7f8;
  display: flex;
  margin-bottom: 10px;
}

.group-btn-qty input {
  background-color: #f6f7f8;
  border: none;
  width: 30px;
  text-align: center;
  outline: none;
}

.group-btn-qty button {
  outline: none;
  border: none;
}

.group-btn-qty button:focus {
  /* outline: none !important; */
  box-shadow: none;
}

.btn-remove-item {
  color: #f20505;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  outline: none;
}

.btn-remove-item:focus,
#btn-redeem:focus {
  outline: none !important;
  box-shadow: none;
}

.modal-payment-header {
  margin: 10px 0px;
  position: relative;
}

#btn-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

#btn-close-modal:focus {
  outline: none;
}

.text-make-payment {
  color: #1ac073;
  font-family: "ABeeZee";
  font-size: 32px;
  text-transform: capitalize;
  margin: 0;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px auto;
}

.step-detail {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  font-family: "Lexend Deca";
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: var(--gray-light, #dfdede);
  margin-right: 30px;
  z-index: 2;
}

.step-detail:last-child {
  margin-right: 0px;
}

.step-detail.active {
  background: #1ac073;
  filter: drop-shadow(0px 10px 40px rgba(248, 161, 112, 0.2));
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 60px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
}

#form-payment .form-control {
  border-radius: 10px;
  background: var(--gray-light, #dfdede);
  outline: none;
  border: none;
  height: 50px;
}

#form-payment textarea {
  height: 150px !important;
}

#form-payment .form-control:focus {
  box-shadow: none;
}

#form-payment .form-control::placeholder {
  opacity: 0.3;
}

.text-select-payment {
  color: #1ac073;
  font-family: "Lexend Deca";
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.form-check-label {
  width: 100%;
}

input[type="checkbox"] {
  accent-color: #1ac073;
  width: 30px;
}

.payment-row {
  padding: 10px 0px;
  margin: 0 !important;
}
.payment-row.selected {
  background: #f0faf7;
}

#btn-payment {
  border-radius: 10px;
  background: #1ac073;
  height: 50px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Lexend Deca;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 50px;
  border: none;
}

#btn-payment:focus {
  box-shadow: none;
}

.div-success i {
  font-size: 180px;
  color: #1ac073;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 20px 0px;
}

.p-success {
  color: #223263;
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 10000;
}

#overlay.show {
  visibility: visible;
}
