thead {
  background-color: #5b9bd5;
  color: #ffffff;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #d2deef;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #eaeff7;
}

table.table-bordered {
  border: 1px solid #ffffff;
  margin-top: 20px;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #ffffff;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #ffffff;
}

.required {
  color: red;
}
