#food .breadcrumb-item {
  font-family: "ABeeZee";
  font-size: 18px;
}

#food .breadcrumb-item a {
  color: #1ac073;
  text-decoration: none;
}

.food-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
}

.food-banner::before {
  content: "";
  background: url("../images/noodle.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.food-title {
  color: #000;
  font-family: "ABeeZee";
  font-size: 30px;
  font-weight: bold;
}

.food-desc {
  color: #000;
  font-family: "ABeeZee";
  font-size: 14px;
  font-style: italic;
}

.line {
  height: 2px;
  width: 40px;
  background-color: #000;
  margin-top: 20px;
}

#food-list {
  padding: 100px 0px;
}

.star-row i.fa-star {
  color: #ffcb45;
}

#check-5-star {
  height: 30px;
}

.filter {
  background-color: #f6f7f8;
  margin-bottom: 30px;
  padding: 30px 20px;
}

.price-slider {
  height: 10px;
}

.pizza {
  border-radius: 10px;
}

.pizza .card-img-top {
  border-radius: 10px 10px 0px 0px;
}

.pizza .card-body {
  border-radius: 0px 0px 10px 10px;
  background: #f7f8fa;
  box-shadow: 0px 0px 1px 0px rgba(187, 187, 187, 0.25);
}

.pagination-container {
  background-color: #fafafb;
}

.pagination {
  width: 100%;
  height: 100%;
}

.page-item {
  border-radius: 0;
}

.page-item .page-link {
  background-color: #fafafb;
  border: none;
  cursor: pointer;
  color: #000;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item.disabled .page-link {
  background-color: #1ac073;
  color: white;
}

.page-item .page-link:focus {
  box-shadow: none;
}
