@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-Pro-Text-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text";
}

header {
  background: var(--primary-green, #1ac073);
}

.header-content {
  display: flex;
  align-items: center;
}

.logo,
.logo:hover {
  color: #fff;
  font-family: "Squada One";
  font-size: 32px;
  letter-spacing: -0.384px;
  text-decoration: none;
}

.menu {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu li a {
  color: var(--White, #fff);

  /* Menu/text */
  font-family: "SF Pro Text", -apple-system;
  font-size: 18px;
  letter-spacing: -0.216px;
  text-decoration: none;
}

.right-menu a:first-child {
  margin-right: 30px;
}

.right-menu a {
  color: var(--White, #fff);
  text-decoration: none;
}

#cart-icon {
  position: relative;
}

#cart-quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  color: var(--White, #fff);
}

#home {
  padding: 100px 0px;
}

.home-title {
  color: var(--White, #fff);
  font-family: "Gilroy-Medium";
  font-size: 70px;
  margin-bottom: 32px;
}

.home-desc {
  color: var(--White, #fff);
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: -0.192px;
  margin-bottom: 40px;
}

.input-group-search {
  width: 75%;
}

.input-group-search input {
  height: 58px;
  border-radius: 10px;
  background: var(--White, #fff);
  padding-left: 20px;
}

.input-group-search button {
  width: 100px;
  border-radius: 0px 10px 10px 0px;
  background: #f3ba00;
  color: var(--White, #fff);
  /* Paragraph/semibold */
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.192px;
}

.input-group-search button:hover {
  color: var(--White, #fff);
}

.home-right img {
  width: 100%;
  object-fit: cover;
}

/* ------------- */
#kitchen {
  background: #f7f8fa;
  padding: 100px 0px;
}

.kitchen-title {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 24px;
  line-height: 24px; /* 100% */
  letter-spacing: -0.288px;
  margin-bottom: 32px;
}

.kitchen-btns {
  margin-bottom: 40px;
}

.filter {
  margin-bottom: 50px;
}

#select-filter {
  width: 50%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--text-black-caption, #929292);
  color: var(--text-black-caption, #929292);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.192px;
}

.pizza {
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.pizza img {
  border-radius: 10px 10px 0px 0px;
  height: 250px;
  object-fit: cover;
}

.sale {
  position: absolute;
  top: -1px;
  left: 0;
}

.discount {
  display: block;
  padding: 5px;
  border-radius: 10px 0px 0px 0px;
  color: var(--text-black-heading-title, #101115);
  font-size: 12px;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.144px;
}

.pizza-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.pizza-name {
  color: var(--text-black-body-caption, #1b1c21);
  font-size: 16px;
}

.pizza-name:hover {
  text-decoration: none;
}

.pizza-price {
  color: var(--text-black-body-caption, #1b1c21);
  font-size: 16px;
  margin: 0;
}

.pizza-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-to-cart {
  width: 22px;
  height: 20px;
  fill: var(--secondary-yello, #f3ba00);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  color: var(--White, #fff);
  padding: 5px;
}

#btn-load-more {
  color: var(--text-black-caption, #929292);
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: -0.192px;
  padding: 13px 40px 13px 19px;
  border-radius: 10px;
  border: 1px solid var(--secondary-yello, #f3ba00);
}
/* -------- */
#blog {
  background: var(--White, #fff);
  padding: 100px 0px;
}

.blog-list-title {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 24px;
  line-height: 24px; /* 100% */
  letter-spacing: -0.288px;
  margin-bottom: 18px;
}

.blog-detail {
  border-radius: 10px 10px 0px 0px;
}

.blog-detail img {
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  object-fit: cover;
}

.blog-detail.main img {
  height: 400px;
}

.blog-title {
  color: var(--text-black-heading-title, #101115);
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: -0.192px;
  margin-bottom: 10px;
}

.blog-desc {
  color: var(--text-black-body-caption, #1b1c21);
  font-size: 12px;
  font-weight: 200;
  line-height: 15px; /* 125% */
  letter-spacing: -0.144px;
}
/* ------------------------ */
#contact {
  background: #f7f8fa;
  padding: 100px 0px;
}

.contact-title {
  color: var(--text-black-heading-title, #101115);
  font-family: "Gilroy-Medium";
  font-size: 24px;
  line-height: 24px; /* 100% */
  letter-spacing: -0.288px;
}

.contact-desc {
  color: var(--text-black-body-caption, #1b1c21);
  font-size: 12px;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.144px;
  margin-bottom: 32px;
}

#form-contact input,
#form-contact textarea {
  color: var(--text-black-caption, #929292);
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: -0.192px;
}

#form-contact input {
  border-radius: 10px;
  background: var(--White, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
}

#form-contact textarea {
  border-radius: 10px;
  background: var(--White, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.btn-send {
  border-radius: 10px;
  border: 1px solid var(--secondary-yello, #f3ba00);
  background: #f3ba00;
  padding: 13px 40px 13px 19px;
}

.contact-right img {
  width: 100%;
  object-fit: cover;
}
/* -------------------------- */
footer {
  background: var(--primary-green, #1ac073);
  height: auto;
  overflow: hidden;
  padding-top: 15px;
}

.footer-content {
  display: flex;
  align-items: center;
}

.copyright {
  color: var(--White, #fff);
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

footer .right-menu a:first-child {
  margin-right: 10px;
}
